<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.seub2hu2.community.mapper.UploadMapper">

  <!-- void insertBoardFile(UploadFile uploadFile); -->
  <insert id="insertBoardFile" parameterType="store.seub2hu2.community.vo.UploadFile">
    insert into BOARD_UPLOADFILES
        (
         board_no
        , file_original_name
        , file_save_name
        , file_path
        )
    values
        (
         #{uploadFile.no}
        , #{uploadFile.originalFileName}
        , #{uploadFile.saveFileName}
        , #{uploadFile.saveFilePath}
        )
  </insert>

  <!-- List<UploadFile> getBoardFiles(); 관리자가 필요할 수도 있어서 만들어놓음 -->
  <select id="getBoardFiles" resultType="store.seub2hu2.community.vo.UploadFile">
    select
        file_no                 as no
        , board_no              as "board.no"
        , file_original_name    as originalName
        , file_save_name        as saveName
        , file_path             as savePath
        , file_created_date     as createdDate
    from
        BOARD_CATEGOIES
    where
        is_deleted is not null
    order by file_no desc
  </select>

  <!-- UploadFile getBoardFileByBoardNo(int boardNo); -->
  <!-- 같은 게시글번호로 저장된 파일 중 가장 최근에 저장된 파일을 조회 -->
  <select id="getBoardFileByBoardNo" parameterType="int" resultType="store.seub2hu2.community.vo.UploadFile">
    with RankedFiles as (
      select
        board_no
         , file_no
         , file_original_name
         , file_save_name
         , file_path
         , file_created_date
         , row_number() over (partition by board_no order by file_created_date desc) as rank
      from
        BOARD_UPLOADFILES
    )
    select
        b.board_no
        , rf.file_no
        , rf.file_original_name
        , rf.file_save_name
        , rf.file_path
        , rf.file_created_date
    from
        BOARDS b join RankedFiles rf
            on b.board_no = rf.board_no
    where
        b.board_no = #{uploadFile.board.no}
        and rf.rank = 1
  </select>

  <!-- void updateBoardFile(UploadFile uploadFile); -->
  <update id="updateBoardFile" parameterType="store.seub2hu2.community.vo.UploadFile">
    update
        BOARD_UPLOADFILES
    set
        file_original_name = #{uploadFile.originalName}
        , file_save_name = #{uploadFile.saveName}
        , file_path = #{uploadFile.savePath}
    where
        file_board_no = #{uploadFile.board.no}
  </update>

  <!-- void deleteBoardFile(int boardNo); -->
  <update id="deleteBoardFile" parameterType="int">
    update
        BOARD_UPLOADFILES
    set
        is_deleted = "Y"
    where
        file_board_no = #{uploadFile.board.no}
  </update>

</mapper>