<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.seub2hu2.community.mapper.CrewMapper">

  <!-- void insertCrew(@Param("crew") Crew crew); -->
  <insert id="insertCrew">
    insert into CREWS
    (
    crew_category
    , crew_schedule
    , crew_location
    , crew_title
    , crew_name
    , crew_description
    , crew_thumbnail
    , crew_updated_date
    <if test="crew.uploadFile != null">
      , file_name
    </if>
    )
    values
    (
    #{crew.category}
    , #{crew.schedule}
    , #{crew.location}
    , #{crew.title}
    , #{crew.name}
    , #{crew.description}
    , #{crew.thumbnail.saveName}
    , null
    <if test="crew.uploadFile != null">
      , #{crew.uploadFile.saveName}
    </if>
    )
    <selectKey resultType="int" keyProperty="crew.no" keyColumn="crew_no" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <!-- void insertCrewMember(@Param("member") CrewMember member); -->
  <insert id="insertCrewMember">
    insert into CREW_MEMBERS
    ( crew_no
    , is_reader
    , crew_join_date
    , is_join
    , user_no)
    values ( #{member.crewNo}
           , #{member.reader}
           , #{member.joinDate}
           , #{member.join}
           , #{member.user.no})
  </insert>

  <!-- List<Crew> getCrews(@Param("condition") Map<String, Object> condition); -->
  <select id="getCrews" resultType="store.seub2hu2.community.vo.Crew">
    select *
    from (select row_number() over(order by c.crew_created_date desc) rn
              , c.crew_no as no
              , c.crew_title      as title
              , c.crew_location   as location
              , c.crew_name       as name
              , c.is_joined       as joined
              , c.crew_thumbnail  as "thumbnail.saveName"
          from
            CREWS c
          where c.is_deleted = 'N') as crew
    where rn between #{condition.begin} and #{condition.end}
    order by rn
  </select>

  <!-- int getTotalRowsForCrew(@Param("condition") Map<String, Object> condition); -->
  <select id="getTotalRowsForCrew" resultType="int">
    select count(*)
    from CREWS crew
    where is_deleted = 'N'
    <if test="condition.category != null">
      and crew.crew_category = #{condition.category}
    </if>
  </select>

  <!-- void getCrewDetailByNo(@Param("no") int crewNo); -->
  <select id="getCrewDetailByNo" resultType="store.seub2hu2.community.vo.Crew">
    select
        c.crew_no
    , c.crew_title
    , c.crew_schedule
    , c.location
    , c.crew_name
    , c.crew_description
    , c.crew_created_date
    , c.crew_thumbnail
    , c.file_name
    , c.is_joined
    , u.user_no
    , cf.file_no
    , cf.file_original_name
    from CREWS c
           join CREW_MEMBERS cm
                on c.crew_no = cm.crew_no
           join CREW_FILES cf
                on c.crew_no = cf.crew_no
           join USERS u
                on cf.user_no = u.user_no
  </select>

</mapper>