<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="store.seub2hu2.delivery.mapper.DeliveryMapper">

    <!--
        void insertDeliveryMemo(@Param("delivery") Delivery delivery);
    -->
    <insert id="insertDeliveryMemo">
        INSERT INTO DELIVERIES (
                                DELI_MEMO
                                , ORDER_NO
                                , ADDR_NO
                                , DELI_PHONENUMBER
                                )
        VALUES (#{delivery.memo}, #{delivery.orderNo}, #{delivery.addrNo}, #{delivery.deliPhoneNumber})
    </insert>
</mapper>