<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.seub2hu2.home.HomeMapper">


    <!-- 주간 베스트 상품 - 별점 순으로 조회 -->
    <select id="getWeeklyBestProductsByRating" resultType="store.seub2hu2.product.dto.ProdListDto">
        SELECT
        P.PROD_NO AS no,
        P.PROD_NAME AS name,
        P.PROD_PRICE AS price,
        P.PROD_IMG_THUM AS imgThum,
        P.PROD_COLOR_NUM AS colorNum,
        P.PROD_STATUS AS status,
        P.PROD_CNT AS cnt,
        B.BRAND_NAME AS "brand.name"  <!-- 브랜드명 추가 -->
        FROM PRODUCTS P
        JOIN PROD_BRANDS B ON P.BRAND_NO = B.BRAND_NO  <!-- BRAND_NO로 조인 -->
        WHERE P.PROD_DELETED = 'N'
        AND P.ISSHOW = 'Y'
        AND P.PROD_CREATED_AT BETWEEN CURDATE() - INTERVAL 7 DAY AND CURDATE()
        ORDER BY P.PROD_CNT DESC
        LIMIT 4
    </select>


    <!-- 주간 베스트 상품 - 조회수 순으로 조회 (러닝화 기준) -->
    <select id="getWeeklyBestProductsByViewCount" resultType="store.seub2hu2.product.dto.ProdListDto">
        SELECT PROD_NO        AS no,
        PROD_NAME        AS name,
        PROD_PRICE        AS price,
        PROD_IMG_THUM        AS imgThum,
        PROD_COLOR_NUM        AS colorNum
        FROM PRODUCTS
        WHERE PROD_DELETED = 'N'
        AND CAT_NO = 11  <!-- 러닝화 카테고리 -->
        ORDER BY PROD_CNT DESC
        LIMIT 5
    </select>

    <select id="getTopViewedBoards" resultType="store.seub2hu2.community.vo.Board">
        SELECT
        B.BOARD_NO        AS no,
        B.BOARD_TITLE           AS title,
        U.USER_NICKNAME   AS "user.nickname", -- 작성자 닉네임
        B.BOARD_CREATED_DATE    AS createdDate,
        B.BOARD_VIEW_CNT        AS viewCnt
        FROM BOARDS B
            LEFT JOIN USERS U ON B.USER_NO = U.USER_NO
        WHERE B.IS_DELETED = 'N'
        ORDER BY B.BOARD_VIEW_CNT DESC
            LIMIT 6
    </select>

    <select id="getUserRankingByBoards" resultType="store.seub2hu2.community.vo.Board">
        SELECT u.USER_NO AS "user.no",
               u.USER_NICKNAME AS "user.nickname",
               COUNT(b.BOARD_NO) AS boardCnt
        FROM BOARDS b
                 JOIN USERS u ON b.USER_NO = u.USER_NO
        WHERE b.IS_DELETED = 'N'
        GROUP BY u.USER_NO
        ORDER BY boardCnt DESC
            LIMIT 5

    </select>


    <select id="getLatestMarathons" resultType="store.seub2hu2.community.vo.Marathon">
        SELECT
        MARATHON_NO        AS no,
        MARATHON_TITLE           AS title,
        MARATHON_DATE    AS marathonDate,
        APPLY_START_DATE        AS startDate,
        APPLY_END_DATE        AS endDate
        FROM MARATHONS
        WHERE IS_DELETED = 'N'
        ORDER BY MARATHON_CREATED_DATE DESC
            LIMIT 5
    </select>

    <select id="getOngoingLessons" resultType="store.seub2hu2.lesson.vo.Lesson">
        SELECT
        l.LESSON_NO        AS lessonNo,
        l.LESSON_TITLE           AS title,
        l.LESSON_SUBJECT    AS subject,
        l.LESSON_PLACE    AS place,
        l.PARTICIPANT as participant,
        l.LESSON_START_DATE        AS start,
        l.LESSON_END_DATE        AS end,
        f.FILE_NAME AS filename
        FROM LESSONS l join  LESSON_FIELS f
        on l.LESSON_NO = f.LESSON_NO
        WHERE l.LESSON_STATUS = '모집중'
        and f.FILE_TYPE = 'THUMBNAIL'
        ORDER BY l.LESSON_NO DESC
            LIMIT 3
    </select>

    <select id="getTopLikedCourses" resultType="store.seub2hu2.course.vo.Course">
        SELECT C.COURSE_NO        AS no
             , C.COURSE_NAME        AS name
             , C.COURSE_TIME        AS time
             , C.COURSE_DISTANCE        AS distance
             , C.COURSE_LEVEL        AS level
             , C.COURSE_LIKE_CNT        AS likeCnt
             , C.COURSE_FILENAME        AS filename
             , R.REGION_NO        AS "region.no"
             , R.REGION_SI        AS "region.si"
             , R.REGION_GU        AS "region.gu"
             , R.REGION_DONG        AS "region.dong"
        FROM COURSES C
                 INNER JOIN COURSE_REGION R
                            ON C.REGION_NO = R.REGION_NO
        ORDER BY COURSE_LIKE_CNT DESC
        LIMIT 3;
    </select>

</mapper>