<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.seub2hu2.security.mapper.JwtTokenMapper">

    <!-- JwtToken 조회: 사용자 ID로 리프레시 토큰 찾기 -->
    <select id="findByUserId" resultType="store.seub2hu2.security.vo.JwtToken">
        SELECT
            user_id,
            refresh_token,
            created_date,
            expired_date
        FROM
            jwt_tokens
        WHERE
            user_id = #{userId}
    </select>

    <!-- JwtToken 업데이트: 리프레시 토큰 갱신 -->
    <update id="updateRefreshToken">
        UPDATE jwt_tokens
        SET
            refresh_token = #{refreshToken},
            expired_date = #{expiredDate}
        WHERE
            user_id = #{userId}
    </update>

    <!-- JwtToken 저장: 새로운 리프레시 토큰 삽입 -->
    <insert id="saveJwtToken">
        INSERT INTO jwt_tokens (user_id, refresh_token, created_date, expired_date)
        VALUES (#{userId}, #{refreshToken}, #{createdDate}, #{expiredDate})
    </insert>

</mapper>
