<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="store.seub2hu2.product.mapper.ProductMapper">

    <update id="updateAmount">
        UPDATE PROD_SIZES
        SET PROD_AMOUNT = #{size.amount}
        WHERE SIZE_NO = #{size.no}
    </update>

    <!--
        void incrementViewCount(@Param("product") Product product);
    -->
    <update id="incrementViewCount">
        UPDATE PRODUCTS
        SET PROD_CNT = #{product.cnt}
        WHERE PROD_NO = #{product.no}
    </update>

    <!--
       void updateProductAvgRating(@Param("prodNo") int prodNo, @Param("avgRating") Double avgRating);
    -->
    <update id="updateProductAvgRating" parameterType="map">
        UPDATE PRODUCTS
        SET PROD_RATING = #{avgRating}
        WHERE PROD_NO = #{prodNo};
    </update>

    <!--
    int getTotalRows(@Param("condition") Map<String, Object> condition);
    -->

    <select id="getTotalRows" resultType="int">
        select
        count(*) as cnt
        from
        PRODUCTS P
        <if test="condition.topNo != null and condition.topNo != ''">
            JOIN PROD_CATEGORIES PC ON P.CAT_NO = PC.CAT_NO
        </if>
        <where>
            <if test="condition != null">
                <choose>
                    <when test="condition.opt == 'name'">
                        AND P.PROD_NAME LIKE '%' || #{condition.value} || '%'
                    </when>
                    <when test="condition.opt == 'minPrice'">
                        AND P.PROD_PRICE >= #{condition.value}
                    </when>
                    <when test="condition.opt == 'maxPrice'">
                        AND P.PROD_PRICE &lt;= #{condition.value}
                    </when>
                </choose>
            </if>
            <if test="condition.topNo != null and condition.topNo != ''">
                AND PC.TOP_CAT_NO IN (#{condition.topNo})
            </if>
        </where>
    </select>

    <!--
        List<ProdListDto> getProducts();
    -->
    <select id="getProducts" resultType="store.seub2hu2.product.dto.ProdListDto">
        SELECT *
        FROM(
            SELECT
                <choose>
                    <when test="condition.sort == 'date'">
                        ROW_NUMBER() OVER(ORDER BY P.PROD_CREATED_AT DESC) AS RN
                    </when>
                    <when test="condition.sort == 'name'">
                        ROW_NUMBER() OVER(ORDER BY P.PROD_NAME ASC) AS RN
                    </when>
                    <when test="condition.sort == 'price'">
                        ROW_NUMBER() OVER(ORDER BY P.PROD_PRICE ASC) AS RN
                    </when>
                </choose>
            , P.PROD_NO AS no,
            P.PROD_NAME AS name,
            P.PROD_PRICE AS price,
            P.PROD_STATUS AS status,
            P.PROD_COLOR_NUM AS colorNum,
            P.PROD_CREATED_AT AS createdAt,
            P.PROD_IMG_THUM AS imgThum,
            PC.CAT_NO AS "category.no",
            PC.CAT_NAME AS "category.name",
            PB.BRAND_NAME AS "brand.name"
            FROM PRODUCTS P
                JOIN PROD_CATEGORIES PC ON P.CAT_NO = PC.CAT_NO
                JOIN PROD_BRANDS PB ON P.BRAND_NO = PB.BRAND_NO
            WHERE
                P.PROD_DELETED = 'N'
            AND
                P.ISSHOW = 'Y'
            <if test="condition != null">
                <choose>
                    <when test="condition.opt == 'name'">
                        AND P.PROD_NAME LIKE CONCAT ('%', #{condition.value},'%')
                    </when>
                    <when test="condition.opt == 'minPrice'">
                        AND P.PROD_PRICE >= #{condition.value}
                    </when>
                    <when test="condition.opt == 'maxPrice'">
                        AND P.PROD_PRICE &lt;= #{condition.value}
                    </when>
                </choose>
            </if>
            <if test="condition.topNo != null and condition.topNo != ''">
                AND PC.TOP_CAT_NO IN (#{condition.topNo})
            </if>
            <if test="condition.catNo != null and condition.catNo != ''">
                AND PC.CAT_NO IN (#{condition.catNo})
            </if>
            ) AS subquery
        WHERE
            RN BETWEEN #{condition.begin} AND #{condition.end}
    </select>

    <!--
         ProdDetailDto getProductByNo(int no);
    -->
    <select id="getProductByNo" resultType="store.seub2hu2.product.dto.ProdDetailDto">
        SELECT
            P.PROD_NO AS no,
            P.PROD_NAME AS name,
            P.PROD_CONTENT AS content,
            P.PROD_PRICE AS price,
            P.PROD_STATUS AS status,
            P.PROD_CNT AS cnt,
            P.PROD_RATING AS rating,
            PC.CAT_NAME AS "category.name",
            PB.BRAND_NAME AS "brand.name"
        FROM
            PRODUCTS P
        JOIN
            PROD_CATEGORIES PC
            ON P.CAT_NO = PC.CAT_NO
        JOIN
            PROD_BRANDS PB
        ON P.BRAND_NO = PB.BRAND_NO
        WHERE P.PROD_NO = #{no};
    </select>

    <!--
        List<ColorProdImgDto> getProdImgByColorNo(@Param("no") int no);
    -->
    <resultMap id="ColorImg" type="store.seub2hu2.product.dto.ColorProdImgDto">
        <id property="no" column="COLOR_NO"/>
        <result property="name" column="COLOR_NAME"/>
        <association property="product" javaType="store.seub2hu2.product.vo.Product">
            <id property="no" column="PROD_NO"/>
            <result property="name" column="PROD_NAME"/>
        </association>
        <collection property="images" ofType="store.seub2hu2.product.vo.Image">
            <id property="no" column="IMG_NO"/>
            <result property="url" column="IMG_URL"/>
        </collection>
    </resultMap>
    <select id="getProdImgByColorNo" resultMap="ColorImg">
        SELECT
            PC.COLOR_NO,
            PC.COLOR_NAME,
            P.PROD_NO,
            P.PROD_NAME,
            PI.IMG_URL
        FROM
            PROD_COLORS PC
        JOIN PRODUCTS P
        ON
            PC.PROD_NO = P.PROD_NO
        JOIN
            PROD_IMGS PI
        ON
            PC.COLOR_NO = PI.COLOR_NO
        WHERE P.PROD_NO = #{no}
          AND PI.IMG_THUM = 'Y'
    </select>

    <!--
        SizeAmountDto getSizeAmountByColorNo(@Param("colorNo") int colorNo);
    -->
    <resultMap id="sizeAmountMap" type="store.seub2hu2.product.dto.SizeAmountDto">
        <id property="no" column="COLOR_NO"/>
        <result property="name" column="COLOR_NAME"/>
        <collection property="sizes" ofType="store.seub2hu2.product.vo.Size">
            <id property="no" column="SIZE_NO"/>
            <result property="size" column="PROD_SIZE"/>
            <result property="amount" column="PROD_AMOUNT"/>
        </collection>
    </resultMap>
    <select id="getSizeAmountByColorNo" resultMap="sizeAmountMap">
        SELECT
            PC.COLOR_NO,
            PC.COLOR_NAME,
            PS.SIZE_NO,
            PS.PROD_SIZE,
            PS.PROD_AMOUNT
        FROM PROD_COLORS PC
        JOIN PROD_SIZES PS
        ON PC.COLOR_NO = PS.COLOR_NO
        WHERE PS.COLOR_NO = #{colorNo}
        AND PS.DELETED_SIZE = 'N'
    </select>

    <!--
        ProdImagesDto getProdImagesByno(@Param("colorNo") int colorNo);
    -->
    <resultMap id="ImagesMap" type="store.seub2hu2.product.dto.ProdImagesDto">
        <id property="no" column="PROD_NO"/>
        <result property="name" column="PROD_NAME"/>
        <association property="color" javaType="store.seub2hu2.product.vo.Color">
            <id property="no" column="COLOR_NO"/>
        </association>
        <collection property="images" ofType="store.seub2hu2.product.vo.Image">
            <id property="no" column="IMG_NO"/>
            <result property="url" column="IMG_URL"/>
        </collection>
    </resultMap>
    <select id="getProdImagesByColorNo" resultMap="ImagesMap">
        SELECT
            P.PROD_NO,
            P.PROD_NAME,
            PC.COLOR_NO,
            PI.IMG_NO,
            PI.IMG_URL
        FROM PRODUCTS P
        JOIN PROD_COLORS PC
        ON P.PROD_NO = PC.PROD_NO
        JOIN PROD_IMGS PI
        ON PC.COLOR_NO = PI.COLOR_NO
        WHERE PC.COLOR_NO = ${colorNo}
    </select>

    <!--
       수량정보가져오기
    -->
    <select id="getSizeAmount" resultType="store.seub2hu2.product.vo.Size">
        SELECT
            SIZE_NO as no
            , PROD_AMOUNT as amount
        FROM PROD_SIZES
        WHERE SIZE_NO = #{sizeNo}
    </select>

    <!--
        Product getProductByProdNoAndColoNo(@Param("prodNo") int prodNo, @Param("colorNo") int colorNo);
    -->
    <resultMap id="getProductByProdColorMap" type="store.seub2hu2.product.vo.Product">
        <id property="no" column="PROD_NO"/>
        <result property="name" column="PROD_NAME"/>
        <result property="price" column="PROD_PRICE"/>
        <result property="content" column="PROD_CONTENT"/>
        <result property="status" column="PROD_STATUS"/>
        <result property="createdAt" column="PROD_CREATED_AT"/>
        <result property="updatedAt" column="PROD_UPDATED_AT"/>
        <result property="imgThum" column="PROD_IMG_THUM"/>
        <result property="cnt" column="PROD_CNT"/>
        <result property="rating" column="PROD_RATING"/>
        <association property="color" javaType="store.seub2hu2.product.vo.Color">
            <id property="no" column="COLOR_NO"/>
            <result property="name" column="COLOR_NAME"/>
        </association>
    </resultMap>
    <select id="getProductByProdNoAndColoNo" resultMap="getProductByProdColorMap">
        SELECT
            P.PROD_NO
             ,P.PROD_NAME
             ,P.PROD_PRICE
             ,P.PROD_CONTENT
             ,P.PROD_STATUS
             ,P.PROD_CREATED_AT
             ,P.PROD_UPDATED_AT
             ,P.PROD_IMG_THUM
             ,P.PROD_CNT
             ,P.PROD_RATING
             ,PC.COLOR_NO
             ,PC.COLOR_NAME
        FROM PRODUCTS P
                 JOIN PROD_COLORS PC
                      ON P.PROD_NO = PC.PROD_NO
        WHERE P.PROD_NO = #{prodNo}
          AND PC.COLOR_NO = #{colorNo}
    </select>
</mapper>