<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="store.seub2hu2.product.mapper.ProductMapper">

    <!--
    int getTotalRows(@Param("condition") Map<String, Object> condition);
    -->

    <select id="getTotalRows" resultType="int">
        select
        count(*) as cnt
        from
        PRODUCTS P
        <if test="condition.topNo != null and condition.topNo != ''">
            JOIN PROD_CATEGORIES PC ON P.CAT_NO = PC.CAT_NO
        </if>
        <where>
            <if test="condition != null">
                <if test="condition.opt == 'name'">
                    and P.PROD_NAME like '%' || #{condition.value} || '%'
                </if>
                <if test="condition.opt == 'minPrice'">
                    and P.PROD_PRICE >= #{condition.value}
                </if>
                <if test="condition.opt == 'maxPrice'">
                    and P.PROD_PRICE &lt;= #{condition.value}
                </if>
            </if>
            <if test="condition.topNo != null and condition.topNo != ''">
                and PC.TOP_CAT_NO IN (#{condition.topNo}, 30)
            </if>
        </where>
    </select>



    <select id="getProductByCatNo" resultType="store.seub2hu2.product.vo.Product">

    </select>

    <!--
        List<ProdListDto> getProducts();
    -->
    <select id="getProducts" resultType="store.seub2hu2.product.dto.ProdListDto">
        SELECT
            P.PROD_NO AS NO,
            P.PROD_NAME AS NAME ,
            P.PROD_PRICE AS PRICE,
            P.PROD_STATUS AS STATUS,
            P.PROD_CREATED_AT AS CREATEDAT,
            P.PROD_IMG_THUM AS IMGTHUM,
            PC.CAT_NAME AS "CAT_NAME"
        FROM PRODUCTS P
        JOIN PROD_CATEGORIES PC ON P.CAT_NO = PC.CAT_NO
    </select>
</mapper>