<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.seub2hu2.community.mapper.ReplyMapper">

  <!-- void insertReply(@Param("reply") Reply reply); -->
  <insert id="insertReply">
    insert into BOARD_REPLIES
      (
        board_no
      , reply_content
      , user_no
      )
    values
      (
        #{boardNo}
      , #{reply}
      , #{user.no}
      )
  </insert>

  <!-- void insertComment(@Param("reply") Reply reply); -->
  <insert id="insertComment">
    insert into BOARD_REPLIES
    (
      board_no
    , prev_reply_no
    , reply_content
    , user_no
    )
    values
      (
        #{boardNo}
      , #{prevReplyNo}
      , #{reply}
      , #{user.no}
      )
  </insert>

  <!-- List<Reply> getRepliesByBoardNo(@Param("no") int boardNo); -->
  <select id="getRepliesByBoardNo" resultType="store.seub2hu2.community.vo.Reply" parameterType="int">
    select
      b.board_no                 as "board.no"
      , u.user_no                as "user.no"
      , u.user_nickname          as "user_nickname"
      , br.reply_no              as no
      , br.prev_reply_no         as prevNo
      , br.reply_content         as content
      , br.reply_created_date    as createdDate
      , br.reply_updated_date    as updatedDate
      , br.is_report             as report
      , br.board_reply_like      as replyLike
      , br.is_deleted            as deleted
    from BOARDS b join BOARD_REPLIES br
         on b.board_no = br.board_no
      join USERS u
         on br.user_no = u.user_no
    where b.board_no = #{no}
    order by br.reply_created_date asc
  </select>

  <!-- void deleteReplyByNo(@Param("replyNo") int replyNo); -->
  <update id="deleteReplyByNo" parameterType="int">
    update BOARDS_REPLIES
    set is_deleted = 'Y'
    where reply_no = #{replyNo}
  </update>
</mapper>