<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.seub2hu2.community.mapper.ReportMapper">

  <!-- void insertReportToBoard(@Param("report") Report report); -->
  <insert id="insertReportToBoard">
    insert into BOARD_REPORTS
    (
    report_type
    , report_no
    , user_no
    , report_reason
    )
    values
    (
    #{report.type}
    <if test="report.type == 'board'">
      , #{report.boardNo}
    </if>
    <if test="report.type == 'reply'">
      , #{report.replyNo}
    </if>
    , #{report.user.no}
    , #{report.reason}
    )
  </insert>

  <!-- void updateDisableBoard(@Param("report") Report report); -->
  <!-- 자세한 구현코드는 수정 필요 -->
  <update id="updateDisableBoard">
    update BOARD_REPORTS
    set
    (
    admin_no = #{report.adminNo}
    , report_resolved_date = sysdate()
    )
    where report_type = #{report.type}
    <if test="report.type == 'board">
      and board_no = #{report.boardNo}
    </if>
    <if test="report.type == 'reply">
      and reply_no = #{report.replyNo}
    </if>
  </update>

  <!-- void insertReportToCrew(@Param("report") Report report); -->
  <insert id="insertReportToCrew">
    insert into CREW_REPORTS
    (
    report_type
    , report_no
    , user_no
    , report_reason
    )
    values
    (
    #{report.type}
    <if test="report.type == 'crew'">
      , #{report.crewNo}
    </if>
    <if test="report.type == 'reply'">
      , #{report.replyNo}
    </if>
    , #{report.user.no}
    , #{report.reason}
    )
  </insert>
</mapper>