<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.seub2hu2.community.mapper.UploadMapper">

  <!-- void insertBoardFile(UploadFile uploadFile); -->
  <insert id="insertBoardFile" parameterType="store.seub2hu2.community.vo.UploadFile">
    insert into BOARD_UPLOADFILES
        (
         board_no
        , file_original_name
        , file_save_name
        )
    values
        (
         #{uploadFile.no}
        , #{uploadFile.originalName}
        , #{uploadFile.saveName}
        )
  </insert>

  <!-- List<UploadFile> getBoardFiles(); 관리자가 필요할 수도 있어서 만들어놓음 -->
  <select id="getBoardFiles" resultType="store.seub2hu2.community.vo.UploadFile">
    select
        file_no                 as no
        , board_no              as boardNo
        , file_original_name    as originalName
        , file_save_name        as saveName
        , is_deleted            as deleted
        , file_created_date     as createdDate
    from
        BOARD_CATEGOIES
    where
        is_deleted is not null
    order by file_no desc
  </select>

  <!-- UploadFile getFileByBoardNo(int boardNo); -->
  <select id="getFileByBoardNo" parameterType="int" resultType="store.seub2hu2.community.vo.UploadFile">
    select
      b.board_no                        as boardNo
         , bu.file_no                   as no
         , bu.file_original_name        as originalName
         , bu.file_save_name            as saveName
         , bu.is_deleted                as deleted
         , bu.file_created_date         as createdDate
    from
      BOARDS b join BOARD_UPLOADFILES bu
                    on b.board_no = bu.board_no
    where
      b.board_no = #{uploadFile.board.no}
        and bu.is_deleted = 'N'
  </select>

  <!-- void updateBoardFile(UploadFile uploadFile); -->
  <update id="updateBoardFile" parameterType="store.seub2hu2.community.vo.UploadFile">
    update
        BOARD_UPLOADFILES
    set
        is_deleted = #{deleted}
        , file_updated_date = sysdate()
    where
        file_no = #{no}
  </update>

  <!-- void insertNoticeFile(@Param("uploadFile") UploadFile uploadFile); -->
  <insert id="insertNoticeFile">
    insert into NOTICE_UPLOADFILES
        (
         notice_no
          , file_original_name
          , file_save_name
        )
    values
        (
         #{uploadFile.no}
          , #{uploadFile.originalName}
          , #{uploadFile.saveName}
        )
  </insert>

  <!-- void updateNoticeFile(UploadFile uploadFile); -->
  <update id="updateNoticeFile" parameterType="store.seub2hu2.community.vo.UploadFile">
    update NOTICE_UPLOADFILES
    set
        (
            is_deleted = #{deleted}
          , file_updated_date = sysdate()
          )
    where
        file_no = #{no}
  </update>

</mapper>