<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.seub2hu2.mypage.mapper.WorkoutMapper">

    <!-- Workout getWorkoutByUserNo(@Param("userNo") int userNo); -->

    <select id="getWorkoutByUserNo" resultType="store.seub2hu2.mypage.dto.WorkoutDTO">
        select
            workout_no,
            workout_title,
            workout_content,
            workout_date,
            user_no
        from
            workout
        where
            user_no = #{userNo}
    </select>

</mapper>